{% extends "base.html.twig" %}

{% block body %}
<h1>{{ username }}</h1>
<h2>You can change here your profile picture</h2>

	{# comment faire pour qu'il y ait que ça qui soit pris en compte ? #}
	{{ form_widget(form.imgPath) }}
	<button class="btn btn-success">{{ button_label|default('Save') }}</button>

{% endblock %}