{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary" id="add-video">Ajouter une video</button>
	<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script>
	let inputPost = document.getElementById("posts_video");
	inputPost.name += "[]";
	document.getElementById("add-video").addEventListener("click", btn => {
		btn.preventDefault();
		let newVideo = inputPost.cloneNode(true);
		newVideo.id = "";
		inputPost.parentNode.appendChild(newVideo);
	})
</script>
<style>
	#posts {
		padding: 2%;
	}
</style>