{% extends "base.html.twig" %}
{% block stylesheets %}

{% endblock %}
{% block body %}
	{# {{parent()}} permet d'appeler le contenu du block de base sinon, l'écrase.#}
	<h1>WELCOME TO THE SNOWTRICKS BLOG</h1>
{% endblock %}