{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block stylesheets %}
<style>
	h1 {
		width: fit-content;
		margin: 2% auto;
	}
	#container > form {
		display: flex;
		flex-direction: column;
		width: 30%;
		padding: 2% 5%;
		border-radius: 5px;
		margin: 0 auto;
		border: 1px solid black;
		text-align: center;
		gap: 10px;
	}
	@media all and (max-width: 767px){
		#container > form {
			border: none;
			width: 80%;
			gap: 50px;
		}
		#global-container {
			border: 1px solid black;
			width: 80%;
			height: 90%;
			margin: 2% auto;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			gap: 50px;
			padding: 2% 0;
		}
	}
</style>
{% endblock %}
{% block body %}
	<div id="global-container">
		<h1>Reset your password</h1>
		<div id="container">
			{{ form_start(resetForm) }}
				{{ form_row(resetForm.plainPassword) }}
				<button class="btn btn-primary">Reset password</button>
			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
