<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block navbar %}
			<style>
				nav {
					position: sticky;
					z-index: 10;
					top:0px;
					background-color : #f4f1de;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 1%;
				}
				#navbar-brand {
					font-size: 2vw;
					color: #6c6061;
					text-decoration: none;
					transition: 0.25s;
				}
				#navbar-brand:hover {
					color: #534741;
				}
				#navbar-links {
					display: flex;
					align-items: center;
					list-style: none;
					gap: 50px;
					margin: 0;
				}
				.navbar-link {
					text-decoration: none;
					position: relative;
					color: #b4a891;
					font-size: 1vw;
				}
				.navbar-link::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: #b4a891;
					bottom: -2px;
					transform: scaleX(0);
					transition: 0.25s;
				}
				.navbar-link:hover {
					color: #534741;
				}
				.navbar-link:hover::before {
					transform: scaleX(100%);
				}
			</style>
			<nav>
				<a href="/" id="navbar-brand">Snowtricks</a>
				<ul id="navbar-links">
					{% if username is defined and username is not empty %}
					<li class="">
						<a class="navbar-link" href="/logout">Logout</a>
					</li>
					{% else %}
					<li class="">
						<a class="navbar-link" href="/login">Login</a>
					</li>
					<li class="">
						<a class="navbar-link" href="/register">Register</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}coucou{% endblock %}
	</body>
</html>
